* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.App {
	width: 390px;
	background-color: #3E3E48;
	margin: 0 auto;
}

main {
	padding: 20px 25px 30px;
	margin: 0 auto;
}

@media (min-width: 1440px) {
	.App {
		width: 1440px;
	}
}

/*.mail-app-text-color {*/
/*	color: #4FB29E;*/
/*}*/

/*.color-CCC {*/
/*	color: #CCCCCC;*/
/*}*/

/*@media  (min-width: 390px) {*/
/*	.App {*/
/*		position: relative;*/
/*		width: 390px;*/
/*		color: #CCCCCC;*/
/*		margin: 0 auto;*/
/*	}*/

/*	!*h3 {*!*/
/*	!*	color: #CCCCCC;*!*/

/*	!*	font-size: 24px;*!*/
/*	!*	font-weight: bold;*!*/
/*	!*	font-family: Nunito, sans-serif;*!*/
/*	!*}*!*/

/*	main p {*/
/*		color: #A2A2A2;*/
/*		font-family: Nunito, sans-serif;*/
/*		font-size: 18px;*/
/*		margin-top: 0;*/
/*		margin-bottom: 20px;*/
/*	}*/
/*}*/

/*@media (min-width: 1440px) {*/
/*	.App {*/
/*		width: 1440px;*/
/*		margin: 0 auto;*/
/*	}*/

/*	main {*/
/*		width: 100%;*/
/*		padding: 0 150px;*/
/*	}*/

/*	.bold {*/
/*		font-size: 44px;*/
/*	}*/

/*	main p {*/
/*		color: #A2A2A2;*/
/*		font-family: Nunito, sans-serif;*/
/*		font-size: 24px;*/
/*		margin-top: 20px;*/
/*		margin-bottom: 20px;*/

/*		text-align: left;*/
/*	}*/
/*}*/

